*{
    background-color: grey;
    background-position: center top;
    background-repeat: repeat;
    letter-spacing: normal;
    font-family: "Comic Sans", "Times New Roman", serif;
}
h1 {
  color: black;
  font-weight: italic, bold;
  text-align: center;
  margin: 50px 60px;
  
}
p {
  color: white;
  text-align: center;
  margin: 50px 60px;
  text-transform: uppercase;
}

img {
  margin: auto;
  display: block;
  width: 50%;
}
