*{
    background-color: grey;
    background-position: center top;
    background-repeat: repeat;
    font-family: "Comic Sans", "Times New Roman", serif;
}
h1 {
  color: black;
  font-weight: italic, bold;
  
}
p {
  color: white;
  text-transform: uppercase;
}
